
<!DOCTYPE html>
<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Delivery Note{% endtrans %}</title>
<link href="{{request.static_url('gkwebapp:static/css/invoice.css')}}" rel="stylesheet" type="text/css">
<body style="padding-right:1%;">
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Delivery Note Saved!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Duplicate Note no.!{% endtrans %}
    </div>
    <div class="panel deliverychallan_panel shadow">
      <div class="panel-body">
        <div class="container-fluid row">
          <div class="alert alert-danger" id="custsup-blank-alert"  aria-live="rude" role="alert" hidden>

            <label>
              {% if gkstatus=="in" %}
		{% trans %}Please select a supplier!{% endtrans %}
              {% else %}
		{% trans %}Please select a customer!{% endtrans %}
              {% endif %}
            </label>
          </div>
          <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="challanno-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter Note no.!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="issuer-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter issuer's name!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

            {% trans %}Please enter date within the financial year!{% endtrans %}
          </div>

          <div class="alert alert-danger" id="gstin-improper-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Improper GSTIN!{% endtrans %}

          </div>
	  <div class="alert alert-danger" id="consignee-blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please enter Consignee Name if you want to save Details of Consignee!{% endtrans %}

          </div>
	  <div class="alert alert-danger" id="consigneeaddr-blank-alert"  aria-live="rude" role="alert" hidden>
            {% trans %}Please enter Consignee Address!{% endtrans %}
          </div>
	  <div class="alert alert-danger" id="consigneename-blank-alert"  aria-live="rude" role="alert" hidden>
            {% trans %}Please enter Consignee Name!{% endtrans %}
          </div>
	  <div class="alert alert-danger" id="gstin-improper-modal"  aria-live="rude" role="alert" hidden>
	    {% trans %}Improper GSTIN!{% endtrans %}
	  </div>
	  
          <form class="form-horizontal" >
	    <!-- Upper Three Column  -->
	    <div class="col-md-12">
	      <!-- Details Of Delivery in/out -->
	      <div class="col-sm-12">
		{% if gkstatus=="in" %}
		  {% trans %}<h4>Details of Delivery In: </h4>{% endtrans %}
		{% else %}
		  {% trans %}<h4>Details of Delivery Out: </h4>{% endtrans %}
		{% endif %}
		<div class="row">
		  <div class="col-sm-12 form-group form-inline">
		    <div class="form-group form-inline col-sm-3">
		      <label class="col-sm-5 fsize" for="deliverychallan_challanno">{% trans %}Note No{% endtrans %} : <label for="deliverychallan_challanno" style="color:red;font-size:120%;">*</label></label>
		      <input class="form-control input-sm col-sm-7" size="15" id="deliverychallan_challanno" placeholder="{% trans %}Enter Deli. Note No.{% endtrans %}" value = "{{lastdelchaldata['dcno']}}">
		    </div>
		    <div class="form-group form-inline col-sm-4">
		      {% if gkstatus=="in" %}
			<label for="invoicestate" class="col-sm-4 fsize">{% trans %}State of Destination{% endtrans %} :</label>
		      {% else %}
			<label for="invoicestate" class="col-sm-4 fsize">{% trans %}State of Origin{% endtrans %} :</label>
		      {% endif %}
		      <select class="form-control input-sm col-sm-7" id="invoicestate" aria-describedby="statecodeforinvoice">
			{% for state in states %}
			  {% for key, value in state.items() %}
			    <option value="{{value}}" stateid="{{key}}">{{value}}</option>
			  {% endfor %}
			{% endfor %}
                      </select>
		    </div>
		    <div class="form-group form-inline col-sm-3">
		      <label class="col-sm-6 fsize" for="statecodeforinvoice">{% trans %}State Code{% endtrans %} :</label>
		      <label class="col-sm-6 nopadding fsize" id="statecodeforinvoice"></label>
		    </div>
		    {% if resultgstvat != '22' %}
		      <div class="form-group form-inline invoice_issuer col-sm-3">
			<label class="col-sm-6 fsize gstinfield" for="orggstin">{% trans %}GSTIN{% endtrans %} :</label>
			<label class="col-sm-6  nopadding fsize gstinfield" id="orggstin"></label>
		      </div>
		    {% endif %}

		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-12 form-group form-inline">
		    <div class="form-group form-inline col-sm-3">
		      <label for="deliverychallan_date" class="col-sm-5 fsize">{% trans %}Note Date{% endtrans %}: <label for="deliverychallan_date" style="color:red;font-size:120%;">*</label></label>
		      <input type="text" class="form-control input-sm delchaldate" size="1" maxlength="2" placeholder="DD" id="deliverychallan_date" accesskey="v" value = "{{lastdelchaldata['dcdate'][0:2]}}">
                      <input type="text" class="form-control input-sm delchaldate" size="1" maxlength="2" placeholder="MM" id="deliverychallan_month" accesskey="v" value = "{{lastdelchaldata['dcdate'][3:5]}}">
                      <input type="text" class="form-control input-sm delchaldate" size="5" maxlength="4" placeholder="YYYY" id="deliverychallan_year" accesskey="v" value = "{{lastdelchaldata['dcdate'][6:]}}" style="width:54px">
                    </div>
		    {%if numberofgodowns > 0 %}
		      <div class="form-group form-inline col-sm-4">
			<label class="col-sm-4 fsize" for="deliverychallan_godown">
			  {% if gkstatus=="in" %}
			    {% trans %}Received At{% endtrans %} :
			  {% else %}
			    {% trans %}Dispatch From{% endtrans %} :
			  {% endif %}
			</label>
			<select class="form-control input-sm col-sm-6" id="deliverychallan_godown" style="width:205px; overflow:hidden">
			  {% for godown in godowns %}
			    <option value="{{godown['goid']}}">{{godown["goname"]}} ({{godown["goaddr"]}})</option>
			  {% endfor %}
			</select>		  
		      </div>
		    {% endif %}
		    <div class="form-group form-inline col-sm-5">
		      {%if numberofgodowns > 0 %}
			<div class="col-sm-12 form-group form-inline">
			  <label class="col-sm-6 fsize" for="deliverychallan_consignment" style="width:130px">Type of transaction:</label>
			  <select class="form-control input-sm col-sm-6" id="deliverychallan_consignment" accesskey="">
			    <option value="1">{% trans %}Approval{% endtrans %}</option>
			    <option value="3">{% trans %}Consignment{% endtrans %}</option>
			    {% if gkstatus=="in" %}
			      <option value="6">{% trans %}Free Replacement{% endtrans %}</option>
			      <option value="16">{% trans %}Purchase{% endtrans %}</option>
			    {% else %}
			      <option value="6">{% trans %}Free Replacement{% endtrans %}</option>
			      <option value="4">{% trans %}Sale{% endtrans %}</option>
			    {% endif %}
			    <option value="19">{% trans %}Sample{% endtrans %}</option>
			  </select>
			</div>
		      {% else %}
			<div class="col-sm-12 form-group form-inline">
			  <label class="col-sm-6 fsize" for="deliverychallan_consignment">Type of transaction:</label>
			  <select class="form-control input-sm col-sm-6" id="deliverychallan_consignment" accesskey="">
			    <option value="1">{% trans %}Approval{% endtrans %}</option>
			    <option value="3">{% trans %}Consignment{% endtrans %}</option>
			    {% if gkstatus=="in" %}
			      <option value="6">{% trans %}Free Replacement{% endtrans %}</option>
			      <option value="16">{% trans %}Purchase{% endtrans %}</option>
			    {% else %}
			      <option value="6">{% trans %}Free Replacement{% endtrans %}</option>
			      <option value="4">{% trans %}Sale{% endtrans %}</option>
			    {% endif %}
			    <option value="19">{% trans %}Sample{% endtrans %}</option>
			  </select>
			</div>
		      {%endif%}
		    </div>
		  </div>
		</div>
              </div>

	      <!-- Details Supplier/Customer -->
	      <div class="col-md-6 hborderdiv">
		{% if gkstatus=="in" %}
		  <h4>{% trans %}Details of Supplier{% endtrans %} :</h4>
		{% else %}
		  <h4>{% trans %}Details of Receiver | Billed to{% endtrans %} :</h4>
		{% endif %}
		<div class="form-group form-inline">
		  <label class="col-sm-4 fsize" for="deliverychallan_customer">
		    {% if gkstatus=="in" %}
		      {% trans %}Supplier{% endtrans %} :
		    {% else %}
		      {% trans %}Customer{% endtrans %} :
		    {% endif %}
		    <label for="deliverychallan_customer" style="color:red;font-size:120%;">*</label>  </label>
		    <select class="form-control input-sm col-sm-8 fsize" id="deliverychallan_customer" accesskey="">
		      <option value="" disabled hidden selected>
			{% if gkstatus=="in" %}
			  {% trans %}Select Supplier{% endtrans %}
			{% else %}
			  {% trans %}Select Customer{% endtrans %}
			{% endif %}
		      </option>
		      {% for supplier in suppliers %}
			<option value="{{supplier['custid']}}" name="{{supplier["custname"]}}">{{supplier["custname"]}}</option>
		      {% endfor %}
		    </select>
		</div>
		<div class="form-group form-inline">
		  <label for="deliverychallan_customerstate" class="col-sm-4 fsize">
		    {% if gkstatus == "in" %}
		      {% trans %}Supplier State{% endtrans %}:
		    {% else %}
		      {% trans %}Customer State{% endtrans %}:
		    {% endif %}
		  </label>
		  <select id="deliverychallan_customerstate" class="form-control input-sm col-sm-8">
		    {% for state in states %}
		      {% for key, value in state.items() %}
			<option value="{{value}}" stateid="{{key}}">{{value}}</option>
		      {% endfor %}
		    {% endfor %}
		  </select>
		</div>
		<div class="form-group form-inline">
		  <label for="statecodeofcustomer" class="col-sm-4 fsize">{% trans %}State Code{% endtrans %} :</label>
		  <label id="statecodeofcustomer" class="col-sm-8 nopadding"></label>
		</div>
		<!-- For VAT -->
		<div class="form-group form-inline tinfield" hidden>
		  <label for="tin" class="col-sm-4 fsize">{% trans %}TIN{% endtrans %} :</label>
		  <label type="text" id="tin" class="col-sm-8 nopadding"></label>
		</div>
		<!-- For GST -->
		<div class="form-group form-inline gstinfield">
		  <label for="gstin" class="col-sm-4 fsize">{% trans %}GSTIN{% endtrans %} :</label>
		  <label type="text" id="gstin" class="col-sm-8 nopadding" name="gstin" ></label>
		</div>
		<div class="form-group form-inline">
		  <label class="col-sm-4 fsize" for="deliverychallan_customeraddr">
		    {% if gkstatus == "in" %}
		      {% trans %}Supplier Address{% endtrans %} :
		    {% else %}
		      {% trans %}Customer Address{% endtrans %} :
		    {% endif %}
		  </label>
		  <label class="col-sm-8 nopadding" id="deliverychallan_customeraddr"></label>
		</div>
		{% if gkstatus == "out" %}
		  <div class="form-group form-inline">
		    <div class="col-sm-12">
		      <input name="consigneedetails" type="checkbox" id="consigneedetails">&nbsp &nbsp<label> If shipping details same as a billing details.</label>
		    </div>
		  </div>
		{% endif %}
	      </div>

	      <!-- Details Of Consignee -->
	      <div class="col-md-6 borderdiv hborderdiv">
		<h4>Details of Consignee | Shipped to: </h4>
		<div class="form-group form-inline">
		  <label for="consigneename" class="col-sm-4 fsize">{% trans %}Name{% endtrans %} :</label>
		  <input type="text" id="consigneename" class="col-sm-8 form-control input-sm"></input>
		</div>
		<div class="form-group form-inline">
		  <label for="consigneestate" class="col-sm-4 fsize">{% trans %}State{% endtrans %} :</label>
		  <select class="form-control input-sm col-sm-8" id="consigneestate" >
                    {% for state in states %}
		      {% for key, value in state.items() %}
			<option value="{{value}}" stateid="{{key}}">{{value}}</option>
		      {% endfor %}
		    {% endfor %}
                  </select>
		</div>
		<div class="form-group form-inline">
		  <label for="statecodeofconsignee" class="col-sm-4 fsize">{% trans %}State Code{% endtrans %} :</label>
		  <label id="statecodeofconsignee" class="col-sm-8 nopadding"></label>
		</div>
		<!-- For VAT -->
		<div class="form-group form-inline tinfield" hidden>
		  <label for="tinconsignee" class="col-sm-4 fsize">{% trans %}TIN{% endtrans %} :</label>
		  <input type="text" id="tinconsignee" class="col-sm-8 form-control input-sm" name="tinconsignee"></input>
		</div>
		<!-- For GST -->
		<div class="form-group form-inline gstinfield">
		  <label for="gstinconsignee" class="col-sm-4 fsize" >{% trans %}GSTIN{% endtrans %} :</label>
		  <input type="text" id="gstinconsignee" class="col-sm-8 form-control input-sm gstin" name="gstinconsignee" maxlength="15"></input>
		</div>
		<div class="form-group form-inline">
		  <label for="deliverychallan_consigneeaddr" class="col-sm-4 fsize">{% trans %}Consignee Address :{% endtrans %}</label>
		  <input type="text" id="deliverychallan_consigneeaddr" class="col-sm-8 form-control input-sm" name="consigneeaddress"></input>
		</div>
	      </div>
	    </div>
	    <!-- For Page adjust -->
	    <a id="taxapplicablescroll"></a>
	    <div class="col-md-12">
	      <div class="col-md-3">
		<label for="taxapplicabletext" name="taxflag">{% trans %}Tax Applicable{% endtrans %} : </label>
		{% if resultgstvat == '29' or resultgstvat == '7' %}
		  <label id="taxapplicabletext" class="">GST</label>
		  <input type="text"  id="taxapplicable" value="7" accesskey="" hidden>
		{% else %}
		  <label id="taxapplicabletext" >VAT</label>
		  <input type="text"  id="taxapplicable" value="22" accesskey="" hidden>
		{% endif %}
	      </div>
	      {% if gkstatus=="in" %}
		<input type="hidden" id="status" value="9">
	      {% else %}
		<input type="hidden" id="status" value="15">
	      {% endif %}
	    </div>

	    <!-- Product Table -->
	    <div class="col-md-12">
	      <div class="alert alert-warning" id="notax-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}You have not entered tax for product(s)!{% endtrans %}
	      </div>
	      <div class="alert alert-warning" id="sometax-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}You have not entered tax for one of the products!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Please select a product!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="product-duplicate-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}A product can be selected only once!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Both Billed Quantity and Free Quantity cannot be zero!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="discount-more-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Discount is more than Rate!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="allquantities-blank-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}All product quantities cannot be zero!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="quantity-exceed-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Sum of Billed Quantity and Free Quantity cannot be greater than Quantity specified in the delivery note!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="price-blank-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Rate must not be empty or zero!{% endtrans %}</label>
	      </div>
	      {% if resultgstvat == '29' or resultgstvat == '22' %}
		{% if resultgstvat == '22' %}
		  <div class="col-sm-12" style="margin-bottom:10px; padding:5;">
		    <small class="row col-sm-12 form-text text-muted">Use 'Ctrl + <' or 'Ctr + >' to navigate horizontally and 'Shift + <' or 'Shift + >' to navigate vertically.</small>
		    <small class="row col-sm-12 form-text text-muted">Press 'Insert' key to save Delivery Note. Press 'Esc' key to exit from the table.</small>
		  </div>
		  <table id="invoice_product_table_vat" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase">
		{% else %}
		    <div class="col-sm-12" style="margin-bottom:10px; padding:5;" id="vathelp" hidden>
		      <small class="row col-sm-12 form-text text-muted">Use 'Ctrl + <' or 'Ctr + >' to navigate horizontally and 'Shift + <' or 'Shift + >' to navigate vertically.</small>
		      <small class="row col-sm-12 form-text text-muted">Press 'Insert' key to save Delivery Note. Press 'Esc' key to exit from the table.</small>
		    </div>
		    <table id="invoice_product_table_vat" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase" hidden>
		{% endif %}
		<thead class="bg-primary">
		  <tr>
		    <th class="mdvwrap text-center">{% trans %}Product{% endtrans %}</th>
		    <th class="qtyvwrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
		    <th class="qtyvwrap text-center">{% trans %}Free Quantity{% endtrans %}</th>
		    <th class="smvwrap text-center">{% trans %}Rate{% endtrans %}</th>
		    <th class="smvwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
		    <th class="smvwrap text-center">{% trans %}Taxable Value{% endtrans %}</th>
		    <th class="ratewrap text-center">{% trans %}Tax Rate{% endtrans %} %</th>
		    <th class="smvwrap text-center">{% trans %}Tax Amount{% endtrans %}</th>
		    <th class="smvwrap text-center">{% trans %}Total{% endtrans %}</th>
		    <th class="crosswrap"></th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
		    <td class="mdvwrap">
		      <select class="form-control input-sm product_name_vat">
			<option value="" disabled hidden selected>Select Product</option>
			{% for product in products %}
			  <option value="{{product['productcode']}}">{{product["productdesc"]}}</option>
			{% endfor %}
		      </select>
		    </td>
		    <td class="qtyvwrap">
		      <div class="input-group">
			<input type="text" class="invoice_product_quantity_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" aria-describedby="unitaddon">
			<span class="input-group-addon input-sm unitaddon"></span>
		      </div>
		    </td>
		    <td class="qtyvwrap">
		      <div class="input-group">
			<input type="text" class="invoice_product_freequantity_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" aria-describedby="unitaddon">
			<span class="input-group-addon input-sm unitaddon"></span>
		      </div>
		    </td>
		    <td class="smvwrap">
		      <input type="text" class="invoice_product_per_price_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10">
		    </td>
		    <td class="smvwrap">
		      <input type="text" class="invoice_product_discount_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10">
		    </td>

		    <td class="smvwrap">
		      <input type="text" class="invoice_product_taxablevalue_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" disabled>
		    </td>
		    <td class="ratewrap">
		      <input type="text" class="invoice_product_tax_rate_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10">
		    </td>
		    <td class="smvwrap">

		      <input  size="10" class="invoice_product_tax_amount_vat form-control text-right numtype"  value="0.00" placeholder="0.00" disabled>
		    </td>
		    <td class="smvwrap">
		      <input size="10" type="text" class="invoice_product_total form-control input-sm text-right numtype" value="0.00" placeholder="0.00" disabled>
		    </td>
		    <td class="crosswrap">
		    </td>
		  </tr>
		</tbody>
		<tfoot>
		  <tr>
		    <td colspan="4" class="text-right">
		      {% trans %}Total{% endtrans %}
		    </td>
		    <!--  Total : ptotal       -->
		    <td class="smvwrap">
		      <input type="text" id="discounttotal_product_vat" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		    </td>
		    <td class="smvwrap">
		      <input type="text" id="taxablevaluetotal_product_vat" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		    </td>
		    <td class="ratewrap">

		    </td>
		    <td class="smvwrap">
		      <input type="text" id="totaltax" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		    </td>
		    <td class="smvwrap">
		      <input type="text" id="total_product_vat" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		    </td>
		    <td class="crosswrap">

		    </td>
		  </tr>
		</tfoot>
		    </table>
	      {% endif %}
	      {% if resultgstvat == '29' or resultgstvat == '7' %}
		<div class="row col-sm-12" id="gstproducttable">
		  <div class="col-sm-12 bg-info" style="margin-bottom:10px; padding:10;">
		    <div class="row col-sm-12 text-primary">{% trans %}Please scroll horizontally to see all fields in this table.{% endtrans %}</div>
		    <small class="row col-sm-12 form-text text-muted">Use 'Ctrl + <' or 'Ctr + >' to navigate horizontally and 'Shift + <' or 'Shift + >' to navigate vertically.</small>
		    <small class="row col-sm-12 form-text text-muted">Press 'Insert' key to save Delivery Note. Press 'Esc' key to exit from the table.</small>
		  </div>
		  <div class="col-sm-10" style="overflow-x:scroll;">
		    <div class="row">
		      <table id="invoice_product_table_gst_heading" class="nopadding table table-condensed table-bordered" style="width:140%; max-width:140%">
			<thead class="bg-primary">
			  <tr>
			    <th rowspan="2" class="mdwrap text-center">{% trans %}Product/ Service{% endtrans %}</th>
			    <th rowspan="2" class="smwrap text-center">{% trans %} HSN/ ACS Code{% endtrans %}</th>
			    <th rowspan="2" class="qtywrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
			    <th rowspan="2" class="qtywrap text-center">{% trans %}Free Quantity{% endtrans %}</th>
			    <th rowspan="2" class="smwrap text-center">{% trans %}Rate{% endtrans %}</th>
			    <th rowspan="2" class="smwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
			    <th rowspan="2" class="smwrap text-center">{% trans %}Taxable Value {% endtrans %}</th>
			    <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}CGST{% endtrans %}</th>
			    <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}SGST/UTGST{% endtrans %}</th>
			    <th colspan="2" class="taxwrap text-center igstfield">{% trans %}IGST{% endtrans %}</th>
			    <th colspan="2" class="taxwrap text-center">{% trans %}CESS{% endtrans %}</th>
			  </tr>

			  <tr>
			    <th class="sgstfield text-center">{% trans %}Rate{% endtrans %} %</th>
			    <th class="sgstfield text-center">{% trans %}Amount{% endtrans %}</th>
			    <th class="sgstfield text-center">{% trans %}Rate{% endtrans %} %</th>
			    <th class="sgstfield text-center">{% trans %}Amount{% endtrans %}</th>
			    <th class="igstfield text-center">{% trans %}Rate{% endtrans %} %</th>
			    <th class="igstfield text-center">{% trans %}Amount{% endtrans %}</th>
			    <th class="text-center">{% trans %}Rate{% endtrans %} %</th>
                            <th class="text-center">{% trans %}Amount{% endtrans %}</th>
			  </tr>
			</thead>
		      </table>
		    </div>
		    <div class="row">
		      <table id="invoice_product_table_gst" class="nopadding table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%; overflow-x:hidden;overflow-y:scroll;">
			<tbody>
			  <tr>
			    <td class="mdwrap">
			      <select class="form-control input-sm product_name_gst">
				<option value="" disabled hidden selected>Select Product</option>
				{% for product in products %}
				  <option value="{{product['productcode']}}" gsflag="{{product["gsflag"]}}">{{product["productdesc"]}}</option>
				{% endfor %}
			      </select>
			    </td>
			    <td class="smwrap text-center" style="vertical-align:middle;">
			      <label class="invoice_product_hsncode text-center"></label>
			    </td>
			    <td class="qtywrap">
			      <div class="input-group">
				<input type="text" class="invoice_product_quantity_gst form-control input-sm text-right numtype" size="8" value="0.00" placeholder="0.00" aria-describedby="unitaddon">
				<span class="input-group-addon input-sm unitaddon"></span>
			      </div>
			    </td>
			    <td class="qtywrap">
			      <div class="input-group">
				<input type="text" class="invoice_product_freequantity_gst form-control input-sm text-right numtype smwrap" size="8" value="0.00" placeholder="0.00" aria-describedby="unitaddon">
				<span class="input-group-addon input-sm unitaddon"></span>
			      </div>
			    </td>
			    <td class="smwrap">
			      <input type="text" class="invoice_product_per_price_gst form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00">
			    </td>
			    <td class="smwrap">
			      <input type="text" class="invoice_product_discount_gst form-control input-sm text-right numtype" value="0.00" size="9" placeholder="0.00">
			    </td>
			    <td class="smwrap">
			      <input type="text" class="invoice_product_taxablevalue_gst form-control input-sm text-right numtype" value="0.00" size="9" placeholder="0.00" disabled>
			    </td>

			    <td class="taxcell sgstfield"><input type="text" class="invoice_product_cgstrate trate form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
			    <td class="taxcell sgstfield"><input type="text" class="invoice_product_cgstamount tamount form-control input-sm text-right numtype" size="8" value="0.00" placeholder="0.00" disabled></td>

			    <td class="taxcell  sgstfield"><input type="text" class="invoice_product_sgstrate trate form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
			    <td class="taxcell sgstfield"><input type="text" class="invoice_product_sgstamount tamount input-sm form-control text-right numtype" size="9" value="0.00" placeholder="0.00" disabled></td>

			    <td class="taxcell igstfield">
			      <input type="text" class="invoice_product_igstrate trate input-sm text-right form-control numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
			      <td class="taxcell igstfield"><input type="text" class="invoice_product_igstamount tamount form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled>
			      </td>
			      <td class="taxcell">
                                <input type="text" class="invoice_product_cessrate trate input-sm text-right form-control numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
                                <td class="taxcell"><input type="text" class="invoice_product_cessamount tamount form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled>
                                </td>
                          </tr>
                        </tbody>
		      </table>
		    </div>
		    <div class="row">
		      <table id="invoice_product_table_gst_tfoot" class="table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%;">
			<tfoot>
			  <tr>
			    <td colspan="5" class="text-right totalwrap" style="vertical-align:middle; font-size:75%">Total</td>
			    <td class="text-right smwrap"><span id="discounttotal_product_gst" class="input-sm text-right" size="8"></span></td>
			    <td class="text-right smwrap"><span id="taxablevaluetotal_product_gst" class="input-sm text-right" size="8"></span></td>
			    <td colspan="2" class="text-right sgstfield taxwrap"><span id="totalcgst_product_gst" class="input-sm text-right" size="8"></span></td>

			    <td colspan="2" class="text-right sgstfield taxwrap"><span id="totalsgst_product_gst" class="input-sm text-right" size="8"></span></td>
			    <td colspan="2" class="text-right igstfield taxwrap" hidden><span id="totaligst_product_gst" class="input-sm text-right" size="8"></span></td>
			    <td colspan="2" class="text-right taxwrap"><span id="totalcess_product_gst" class="input-sm text-right" size="8"></span></td>
			  </tr>
			</tfoot>
		      </table>
		    </div>
		  </div>
		  <div class="col-sm-2 nopadding">
		    <table id="invoice_product_table_total" class="table table-condensed table-bordered fixed-table fixed-tablepurchase">
		      <thead>
			<tr>
			  <th style="line-height:380% !important; text-align:center;" class="col-xs-8">Total</th>
			  <th class="col-xs-4"></th>
			</tr>
		      </thead>
		      <tbody>
			<tr>
			  <td class="col-xs-8"><input type="text" class="invoice_product_total form-control input-sm text-right numtype" value="0.00" size="14" placeholder="0.00" disabled></td>
			  <td class="col-xs-4 text-center">
			  </td>
			</tr>
		      </tbody>
		      <tfoot>
			<td class="col-xs-8 text-right">
			  <span id="total_product_gst" class="input-sm text-right" size="9"></span>
			</td>
			<td class="col-xs-4"></td>
		      </tfoot>
		    </table>
		  </div>
		</div>
	      {% endif %}
	    </div>
	    <!-- Product Table Close -->
	    <div class ="row col-sm-12">
	      <div class="col-sm-6" style="margin-top:1.1cm;">
		<div class="alert alert-danger" id="noofpackages-blank-alert"  aria-live="rude" role="alert" hidden>

		  <label for="vno">{% trans %}Please enter Number of Packages!{% endtrans %}</label>
		</div>
		<div class="alert alert-danger" id="issuername-blank-alert"  aria-live="rude" role="alert" hidden>

		  <label for="vno">{% trans %}Please enter Issuer Name!{% endtrans %}</label>
		</div>
		<div class="alert alert-danger" id="designation-blank-alert"  aria-live="rude" role="alert" hidden>

		  <label for="vno">{% trans %}Please enter Designation!{% endtrans %}</label>
		</div>
		<div class="row col-sm-12">
		  <div class="form-group form-inline">
		    <label for="deliverychallan_noofpackages" class="col-sm-5">{% trans %}Number of Packages{% endtrans %} : <label for="deliverychallan_noofpackages" style="color:red;font-size:120%;">*</label></label>
		    <input type="text" class="form-control input-sm text-right col-sm-7" id="deliverychallan_noofpackages" value=""></input>
		  </div>
		</div>
		<div class="row col-sm-12">
		  <div class="form-inline form-group">
		    <label for="transportationmode" class="col-sm-5" id="transmode">{% trans %}Mode of Transportation{% endtrans %} :</label>
		    <select type="text" id="transportationmode" class="col-sm-7 lastfield form-control input-sm">
		      <option value="Road">{% trans %}Road{% endtrans %}</option>
		      <option value="Rail">{% trans %}Rail{% endtrans %}</option>
		      <option value="Air">{% trans %}Air{% endtrans %}</option>
		      <option value="Ship">{% trans %}Ship{% endtrans %}</option>
		      <option value="Other">{% trans %}Other{% endtrans %}</option>
		    </select>
		  </div>
		</div>
		<div class="row col-sm-12">
		  <div class="form-inline form-group" id="vehiclenodiv" hidden>
		    <label for="inv" class="col-sm-5">{% trans %}Vehicle No.{% endtrans %} :</label>
		    <input type="text" id="vehicleno" class="col-sm-7 lastfield form-control input-sm" name="vehicleno"></input>
		  </div>
		</div>

		<div class="row col-sm-12">
		  <div class="form-group form-inline invoice_issuer" hidden>
		    <label class="col-sm-5" for="invoice_issuer_name">{% trans %}Issuer's Name{% endtrans %} : <label for="invoice_issuer_name" style="color:red;font-size:120%;">*</label></label>
		    <input class="form-control input-sm col-sm-7" id="invoice_issuer_name" placeholder="{% trans %}Issuer's name{% endtrans %}" accesskey="a" aria-label="{% trans %}Issuer's Name{% endtrans %}">
		  </div>
		</div>
		<div class="row col-sm-12">
		  <div class="form-inline form-group invoice_issuer" hidden>
		    <label class="col-sm-5">{% trans %}Designation{% endtrans %} : <label for="invoice_issuer_designation" style="color:red;font-size:120%;">*</label></label>
		    <input class="form-control input-sm col-sm-7" id="invoice_issuer_designation" aria-label="{% trans %}Designation{% endtrans %}" placeholder="{% trans %}Issuer's designation{% endtrans %}">
		  </div>
		</div>
		
		<div class="row col-sm-12">
		    <div class="alert alert-danger" id="supply-date-alert" aria-live="rude" role="alert" hidden>

		      {% trans %}Date of Supply cannot be before Invoice Date!{% endtrans %}
		    </div>
		    <div class="alert alert-danger" id="supbetween-date-alert" aria-live="rude" role="alert" hidden>

		      {% trans %}Please enter date after the delivery challan date!{% endtrans %}
		    </div>
		    <div class="alert alert-danger" id="supplydate-alert"  aria-live="rude" role="alert" hidden>

		      <label >{% trans %}Please enter date in proper format!{% endtrans %}</label>
		    </div>
		  <div class="form-group form-inline">
		    <label for="supply_date" class="col-sm-5">{% trans %}Date of Supply{% endtrans %}:</label>
		    <div class="form-group col-sm-7">
		      <input type="text" class="lastfield form-control input-sm supplydate" size="2" maxlength="2" placeholder="DD" id="supply_date">

		      <input type="text" class="lastfield form-control input-sm supplydate" size="2" maxlength="2" placeholder="MM" id="supply_month">

		      <input type="text" class="lastfield form-control input-sm supplydate" size="4" maxlength="4" placeholder="YYYY" id="supply_year">
  		    </div>
		  </div>
		</div>
	      </div>
	      <div class="col-sm-2">
	      </div>
	      <div class="col-sm-4" style="margin-top:0.7cm;">
		<div class="row hborderdiv">
		  <div class="form-group form-inline">
		    <div class="col-sm-6">
		      <label for="taxableamount" style="font-size:100% !important;">{% trans %}Taxable Value{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="taxableamount" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv gstfield sgstfield">
		  <div class="form-group sgstfield form-inline">
		    <div class="col-sm-6">
		      <label for="totalsgtax" style="font-size:100% !important;">{% trans %}Total SGST{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalsgtax" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv gstfield sgstfield">
		  <div class="form-group sgstfield form-inline">
		    <div class="col-sm-6">
		      <label for="totalcgtax" style="font-size:100% !important;">{% trans %}Total CGST{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalcgtax" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv gstfield igstfield">
		  <div class="form-group igstfield form-inline">
		    <div class="col-sm-6">
		      <label for="totaligtax" style="font-size:100% !important;">{% trans %}Total IGST{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totaligtax" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv gstfield">
		  <div class="form-group form-inline">
		    <div class="col-sm-6">
		      <label for="totalinvcess" style="font-size:100% !important;">{% trans %}Total CESS{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalinvcess" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv vatfield">
		  <div class="form-group form-inline">
		    <div class="col-sm-6">
		      <label for="totalinvtax" style="font-size:100% !important;">{% trans %}Total Tax{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalinvtax" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv">
		  <div class="form-group form-inline">
		    <div class="col-sm-6">
		      <label for="totalinvdiscount" style="font-size:100% !important;">{% trans %}Total Discount{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalinvdiscount" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv" style="border-bottom-style:solid;">
		  <div class="form-group form-inline">
		    <div class="col-sm-6">
		      <label for="totalinvoicevalue" style="font-size:100% !important;">{% trans %}Grand Total{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalinvoicevalue" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	</div>
	  </form>
      </div>
    </div>
    
    {% if gkstatus=='out' %}
      <input type="hidden"  id="deliverychallan_gkstatus" value="out">
    {%else%}
      <input type="hidden" id="deliverychallan_gkstatus" value="in">
    {% endif %}
    
    <div class="panel-footer ">
      <div class="container-fluid">
	<div class="alert alert-danger" id="image-alert"  aria-live="rude" role="alert" hidden>

	  {% trans %}Please upload image in JPG/JPEG format!{% endtrans %}
	</div>
        <button class="btn btn-success btn-sm" id="deliverychallan_save" data-toggle="tooltip" data-placement="top" title="Press Insert anywhere on the current screen to save"><i class="fa fa-floppy-o" aria-hidden="true" accesskey="s"></i> {% trans %}<u>S</u>ave{% endtrans %}</button>
        <button id="deliverychallan_reset" class="btn btn-warning btn-sm"><i class="fa fa-refresh" aria-hidden="true" accesskey="e"></i> {% trans %}R<u>e</u>set{% endtrans %}</button>
        {% if gkstatus=="out" %}
	  <button id="deliverychallan_addcust" class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true" accesskey="d"></i> {% trans %}A<u>d</u>d Customer{% endtrans %}</button>
        {% else %}
	  <button id="deliverychallan_addcust" class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true" accesskey="d"></i> {% trans %}A<u>d</u>d Supplier{% endtrans %}</button>
        {% endif %}
	<label class="btn btn-primary btn-sm" for="my-file-selector">
	  <input name="img" accesskey="h" class="input-sm" id="my-file-selector" type="file" accept="image/*" multiple style="display:none;" onchange="$('#upload-file-info').html(this.files.length+' selected');">
	  <i class="fa fa-paperclip" aria-hidden="true"></i>
	  {% trans %}Attac<u>h</u>{% endtrans %}
	</label>
	<span class='label label-info' id="upload-file-info"></span>
	<small class="form-text text-danger text-muted">(JPG/JPEG images only.)</small>
      </div>
    </div>
  </div>
  <div id="confirm_yes" class="modal" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">

            <h4 class="modal-title">{% trans %}Save?{% endtrans %}</h4>
          </div>
          <div class="modal-body">
            <p>{% trans %}Are you sure?{% endtrans %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" id ="dc_save_no" class="btn btn-warning" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
            <button type="button" id="dc_save_yes" data-dismiss="modal" class="btn btn-success">{% trans %}Yes{% endtrans %}</button>
          </div>
	</div>
      </div>
    </div>
  </div>

  <div id="confirm_yes_dc" class="modal" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">

            <h4 class="modal-title">{% trans %}Save?{% endtrans %}</h4>
          </div>
          <div class="modal-body">
            <p>{% trans %}Are you sure?{% endtrans %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" id ="dc_save_no_print" class="btn btn-warning" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
            <button type="button" id="dc_save_yes_print" data-dismiss="modal" class="btn btn-success">{% trans %}Yes{% endtrans %}</button>
          </div>
	</div>
      </div>
    </div>
  </div>

  <div id="viewcustsup"></div>
  <input type="hidden" id="selectedcustsup" value="">
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/adddeliverychallan.js')}}"></script>
</body>
	</html>
