<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Customer and Supplier{% endtrans %}</title>
  <style>
   
   .nopadding {
       padding: 0 !important;
       margin: 0 !important;
   }

   .fixed-table td {
       font-size: 75%;
       padding: 4 !important;
       margin: 4 !important;
   }
   .fixed-table tbody {
       display:block;
       height: calc(100vh - 33.5em);
       min-height: 100px;
       overflow-y:scroll;
   }

   .fixed-table thead ,.fixed-table tbody tr {
       display:table;
       width:100%;
       table-layout:fixed;
   }
   .fixed-table thead {
       width: calc( 100% - 0.75em )
   }
   .nopadding {
       padding: 0 !important;
       margin: 0 !important;
   }
   .panel-body {
       padding-bottom: 0px;
       margin-bottom: 0px;
   }
   .bankclass {
       font-size:95% !important;
   }
  </style>
</head>
<body>
  <div class="container-fluid">
    <ul class="nav nav-pills nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="" id="customersupplier_create" role="tab" data-toggle="tab" accesskey="1">{% trans %}Create Customer/Supplier{% endtrans %}</a></li>
      <li role="presentation"><a href="" id="customersupplier_edit" role="tab" data-toggle="tab" accesskey="2">{% trans %}Edit Customer/Supplier{% endtrans %}</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="customersupplier_div">

      </div>
    </div>


  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/customersupplier.js')}}"></script>
</body>
</html>
