<link href="{{request.static_url('gkwebapp:static/css/invoice.css')}}" rel="stylesheet" type="text/css">
<div class="deliverychallan_edit_div borderdiv">
  <form class="form-horizontal" >
    <div class="col-md-12">
	{% if delchaldata["delchaldata"]["inoutflag"] == 9 %}
	  <label class="form-inline form-group nopadding" id="detailsIN"><h4>Details of Delivery In: </h4></label>
	{% else %}
	  <label class="nopadding fsize" id="detailsOUT"><h4>Details of Delivery Out: </h4></label>
	{% endif %}
	<div class="row">
	  <div class="col-sm-12 form-group form-inline">
	    <div class="form-group form-inline col-sm-3">
	      <label class="col-sm-5 fsize" for="deliverychallan_edit_challanno">{% trans %}Note No{% endtrans %} :</label>
	      <label class="col-sm-7" id="deliverychallan_edit_challanno">{{ delchaldata["delchaldata"]["dcno"] }}</label>
	    </div>
	    <div class="form-group form-inline col-sm-4">
	      {% if delchaldata["delchaldata"]["inoutflag"] == 9 %}
		<label id="statedest" for="invoicestate" class="col-sm-6 fsize">{% trans %}State of Destination{% endtrans %} :</label>
	      {% else %}
		<label id="stateorigin" for="invoicestate" class="col-sm-6 fsize">{% trans %}State of Origin{% endtrans %} :</label>
	      {% endif %}
	      <label class="col-sm-6 nopadding" id="invoicestate">{% if delchaldata["delchaldata"]["inoutflag"] == 15 %}{{ delchaldata["sourcestate"] }}{% endif %}{% if delchaldata["delchaldata"]["inoutflag"] == 9 %}{{ delchaldata["destinationstate"] }}{% endif %}</label>
	    </div>
	    <div class="form-group form-inline col-sm-3">
	      <label class="col-sm-6 fsize" for="statecodeforinvoice">{% trans %}State Code{% endtrans %} :</label>
	      <label class="col-sm-6 nopadding fsize" id="statecodeforinvoice">{% if delchaldata["delchaldata"]["inoutflag"] == 15 %}{{ '%02d' | format(delchaldata["sourcestatecode"]| int)  }}{% endif %}{% if delchaldata["delchaldata"]["inoutflag"] == 9 %}{{ '%02d' | format(delchaldata["taxstatecode"]| int)}}{% endif %}</label>
	    </div>
	    {% if delchaldata["delchaldata"]["taxflag"] == 7 %}
	      <div class="form-group form-inline col-sm-2">
		<label class="col-sm-6 fsize gstinfield" for="orggstin">{% trans %}GSTIN{% endtrans %} :</label>
		<label class="col-sm-6  nopadding fsize gstinfield" id="orggstin">{{ delchaldata["delchaldata"]["orggstin"] }}</label>
	      </div>
	    {% endif %}
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-12 form-group form-inline">
	    <div class="form-group form-inline col-sm-3">
	      <label for="deliverychallan_date" class="col-sm-5 fsize">{% trans %}Note Date{% endtrans %} :</label>
	      <label class=" delchaldate col-sm-7" id="deliverychallan_edit_date">{{ delchaldata["delchaldata"]["dcdate"] }}</label>
	    </div>
	    {%if numberofgodowns > 0 %}
	      <div class="form-group form-inline col-sm-4">
		<div class="col-sm-12 form-group form-inline">
		  {% if delchaldata["delchaldata"]["inoutflag"] == 9 %}
		    <label class="col-sm-6 infield" for="deliverychallan_edit_godown">Received At :</label>
		  {% else %}
		    <label class="col-sm-6 outfield" for="deliverychallan_edit_godown">Dispatch From :</label>
		  {% endif %}
		  <label class="col-sm-6" id="deliverychallan_edit_godown">{% if delchaldata["delchaldata"]["goname"] %}{{delchaldata["delchaldata"]["goname"]}},{{delchaldata["delchaldata"]["goaddr"]}}{% endif %}</label>
		</div>		  
	      </div>
	    {% endif %}
	    <div class="form-group form-inline col-sm-3">
	      {%if numberofgodowns > 0 %}
		  <label class="col-sm-6 fsize" for="deliverychallan_edit_consignment">Type of transaction:</label>
		  <label class="col-sm-6 nopadding" id="deliverychallan_edit_consignment">
		    {% if delchaldata["delchaldata"]["dcflag"] == 4 %}Sale{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 16 %}Purchase{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 1 %}Approval{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 3 %}Consignment{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 19 %}Sample{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 6 %}Free Replacement{% endif %}
		  </label>
	      {% else %}
		  <label class="col-sm-6 fsize" for="deliverychallan_edit_consignment">Type of transaction:</label>
		  <label class="col-sm-6 nopadding" id="deliverychallan_edit_consignment">
		    {% if delchaldata["delchaldata"]["dcflag"] == 4 %}Sale{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 16 %}Purchase{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 1 %}Approval{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 3 %}Consignment{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 19 %}Sample{% endif %}
		    {% if delchaldata["delchaldata"]["dcflag"] == 6 %}Free Replacement{% endif %}
		  </label>
	      {%endif%}
	    </div>
	    <div class="form-inline form-group col-sm-2" >
	    </div>
	  </div>
	</div>
      
      <!-- Details Supplier/Customer -->
	<div class="row">
	<div class="col-md-6 hborderdiv">
	{% if delchaldata["delchaldata"]["inoutflag"] == 9 %}
	  <label class="infield"><h4>Details of Supplier : </h4></label>
	{% else %}
	  <label class="outfield"><h4>Details of Receiver | Billed to : </h4></label>
	{% endif %}
	<div class="form-group form-inline">
	  {% if delchaldata["delchaldata"]["inoutflag"] == 9 %}
	    <label class="col-sm-4 fsize infield" for="deliverychallan_customer">Supplier :</label>
	  {% else %}
	    <label class="col-sm-4 fsize outfield" for="deliverychallan_customer">Customer :</label>
	  {% endif %}
	  <label class="col-sm-8 fsize" id="deliverychallan_customer">{{ delchaldata["custSupDetails"]["custname"] }}</label>
	</div>
	<div class="form-group form-inline">
	  {% if delchaldata["delchaldata"]["inoutflag"] == 9 %}
	    <label for="deliverychallan_customerstate" class="col-sm-4 fsize infield">Supplier State :</label>
	  {% else %}
	    <label for="deliverychallan_customerstate" class="col-sm-4 fsize outfield">Customer State :</label>
	  {% endif %}
	  <label id="deliverychallan_customerstate" class="col-sm-8">{{ delchaldata["custSupDetails"]["custsupstate"] }}</label>
	</div>
	<div class="form-group form-inline">
	  <label for="statecodeofcustomer" class="col-sm-4 fsize">{% trans %}State Code{% endtrans %} :</label>
	  <label id="statecodeofcustomer" class="col-sm-8">{{ '%02d' | format(delchaldata["custSupDetails"]["custsupstatecode"]| int) }}</label>
	</div>
	<!-- For VAT -->
	{% if delchaldata["delchaldata"]["taxflag"] == 22 %}
	  <div class="form-group form-inline tinfield">
	    <label for="tin" class="col-sm-4 fsize">{% trans %}TIN{% endtrans %} :</label>
	    <label type="text" id="tin" class="col-sm-8">{% if delchaldata["custSupDetails"]["custtin"] != "" %}{{ delchaldata["custSupDetails"]["custtin"] }}{% else %}N/A{% endif %}</label>
	  </div>
	{% endif %}
	<!-- For GST -->
	{% if delchaldata["delchaldata"]["taxflag"] == 7 %}
	  <div class="form-group form-inline gstinfield">
	    <label for="gstin" class="col-sm-4 fsize">{% trans %}GSTIN{% endtrans %} :</label>
	    <label type="text" id="gstin" class="col-sm-8" name="gstin" >{% if delchaldata["custSupDetails"]["custgstin"] %}{{ delchaldata["custSupDetails"]["custgstin"] }}{% else %}N/A{% endif %}</label>
	  </div>
	{% endif %}
	<div class="form-group form-inline">
	  {% if delchaldata["delchaldata"]["inoutflag"] == 9 %}
	    <label class="col-sm-4 fsize infield" for="deliverychallan_customeraddr">Supplier Address :</label>
	  {% else %}
	    <label class="col-sm-4 fsize outfield" for="deliverychallan_customeraddr">Customer Address :</label>
	  {% endif %}
	  <label class="col-sm-8" id="deliverychallan_customeraddr">{{ delchaldata["custSupDetails"]["custaddr"] }}</label>
	</div>
      </div>
      
      <!-- Details Of Consignee -->
      <div class="col-md-6 hborderdiv">
	<h4>Details of Consignee | Shipped to: </h4>
	<div class="form-group form-inline">
	  <label for="delchal_consigneename" class="col-sm-4 fsize">{% trans %}Name{% endtrans %} :</label>
	  <label id="delchal_consigneename" class="col-sm-8">{% if delchaldata["delchaldata"]["consignee"] %}{{ delchaldata["delchaldata"]["consignee"]["consigneename"] }}{% else %}N/A{% endif %}</label>
	</div>
	<div class="form-group form-inline">
	  <label for="delchal_consigneestate" class="col-sm-4 fsize">{% trans %}State{% endtrans %} :</label>
	  <label class="col-sm-8" id="delchal_consigneestate">{% if delchaldata["delchaldata"]["consignee"] %}{{ delchaldata["delchaldata"]["consignee"]["consigneestate"] }}{% else %}N/A{% endif %}</label>
	</div>
	<div class="form-group form-inline">
	  <label for="delchal_statecodeofconsignee" class="col-sm-4 fsize">{% trans %}State Code{% endtrans %} :</label>
	  <label id="delchal_statecodeofconsignee" class="col-sm-8">{% if delchaldata["delchaldata"]["consignee"] %}{{ delchaldata["delchaldata"]["consignee"]["consigneestatecode"] }}{% else %}N/A{% endif %}</label>
	</div>
	<!-- For VAT -->
	{% if delchaldata["delchaldata"]["taxflag"] == 22 %}
	  <div class="form-group form-inline tinfield">
	    <label for="delchal_tinconsignee" class="col-sm-4 fsize">{% trans %}TIN{% endtrans %} :</label>
	    <label type="text" id="delchal_tinconsignee" class="col-sm-8" name="tinconsignee">{% if delchaldata["delchaldata"]["consignee"] %}{{ delchaldata["delchaldata"]["consignee"]["tinconsignee"] }}{% else %}N/A{% endif %}</label>
	  </div>
	{% endif %}
	<!-- For GST -->
	{% if delchaldata["delchaldata"]["taxflag"] == 7 %}
	  <div class="form-group form-inline gstinfield">
	    <label for="delchal_gstinconsignee" class="col-sm-4 fsize" >{% trans %}GSTIN{% endtrans %} :</label>
	    <label id="delchal_gstinconsignee" class="col-sm-8 gstin">{% if delchaldata["delchaldata"]["consignee"] %}{{ delchaldata["delchaldata"]["consignee"]["gstinconsignee"] }}{% else %}N/A{% endif %}</label>
	  </div>
	{% endif %}
	<div class="form-group form-inline">
	  <label for="delchal_consigneeaddr" class="col-sm-4 fsize">{% trans %}Consignee Address :{% endtrans %}</label>
	  <label id="delchal_consigneeaddr" class="col-sm-8">{% if delchaldata["delchaldata"]["consignee"] %}{{ delchaldata["delchaldata"]["consignee"]["consigneeaddress"] }}{% else %}N/A{% endif %}</label>
	</div>
      </div>
	</div>
    </div>
    <!-- For Page adjust -->
    <a id="taxapplicablescroll"></a>
    <div class=" row col-md-12">
      <div class="col-md-3">
	<label for="taxapplicabletext" name="taxflag">{% trans %}Tax Applicable{% endtrans %} :
	  <label for="taxapplicabletext" id="taxapplicabletext" name="taxflag">
	    {% if delchaldata["delchaldata"]["taxflag"] == 22 %}VAT{% endif %}
	    {% if delchaldata["delchaldata"]["taxflag"] == 7 %}GST{% endif %}
	  </label>
	</label>
      </div>
      {% if gkstatus=="in" %}
	<input type="hidden" id="status" value="9">
      {% else %}
	<input type="hidden" id="status" value="15">
      {% endif %}
    </div>
    
    <!-- Product Table -->
      {% if delchaldata["delchaldata"]["taxflag"] == 22 %}
	<div class="col-sm-12">
	<table id="invoice_product_table_vat" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase">
	<thead class="bg-primary">
	  <tr>
	    <th class="mdvwrap text-center">{% trans %}Product{% endtrans %}</th>
	    <th class="qtyvwrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
	    <th class="qtyvwrap text-center">{% trans %}Free Quantity{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Rate{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Taxable Value{% endtrans %}</th>
	    <th class="ratewrap text-center">{% trans %}Tax Rate{% endtrans %} %</th>
	    <th class="smvwrap text-center">{% trans %}Tax Amount{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Total{% endtrans %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for product in delchaldata["delchalContents"] %}
	    <tr>
	      <td class="mdvwrap">
		{{ delchaldata["delchalContents"][product]["proddesc"] }}
	      </td>
	      <td class="qtyvwrap text-right">
		{{ delchaldata["delchalContents"][product]["qty"] }} {{ delchaldata["delchalContents"][product]["uom"] }}
	      </td>
	      <td class="qtyvwrap text-right">
		{{ delchaldata["delchalContents"][product]["freeqty"] }} {{ delchaldata["delchalContents"][product]["uom"] }}</span>
	      </td>
	      <td class="smvwrap text-right">
		{{ delchaldata["delchalContents"][product]["priceperunit"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ delchaldata["delchalContents"][product]["discount"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ delchaldata["delchalContents"][product]["taxableamount"] }}
	      </td>
	      <td class="ratewrap text-right">
		{{ delchaldata["delchalContents"][product]["taxrate"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ delchaldata["delchalContents"][product]["taxamount"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ delchaldata["delchalContents"][product]["totalAmount"] }}
	      </td>
	    </tr>
	  {% endfor %}
	</tbody>
	<tfoot>
	  <tr>
	    <td colspan="4" class="text-right">
	      {% trans %}Total{% endtrans %}
	    </td>
	    <td class="smvwrap text-right">
	      {{ delchaldata["totaldiscount"] }}
	    </td>
	    <td class="smvwrap text-right">
	      {{ delchaldata["totaltaxablevalue"] }}
	    </td>
	    <td class="ratewrap text-right">
	    </td>
	    <td class="smvwrap text-right">
	      {{ delchaldata["totaltaxamt"] }}
	    </td>
	    <td class="smvwrap text-right">
	      {{ delchaldata["delchaldata"]["delchaltotal"] }}
	    </td>
	  </tr>
	</tfoot>
	</table>
	</div>
      {% else %}
	<div class="col-sm-12" id="gstproducttable">
	  <div class="col-sm-12 bg-info" style="margin-bottom:10px; padding:10;">
	    <div class="row col-sm-12 text-primary">{% trans %}Please scroll horizontally to see all fields in this table.{% endtrans %}</div>
	  </div>
	  <div class="col-sm-10" style="overflow-x:scroll;">
	    <div class="row">
	      <table id="invoice_product_table_gst_heading" class="nopadding table table-condensed table-bordered" style="width:140%; max-width:140%">
		<thead class="bg-primary">
		  <tr>
		    <th rowspan="2" class="mdwrap text-center">{% trans %}Product/ Service{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %} HSN/ ACS Code{% endtrans %}</th>
		    <th rowspan="2" class="qtywrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
		    <th rowspan="2" class="qtywrap text-center">{% trans %}Free Quantity{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %}Rate{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %}Taxable Value {% endtrans %}</th>
		    {% if delchaldata["taxname"]=='SGST' %}
		      <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}CGST{% endtrans %}</th>
		      <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}SGST/UTGST{% endtrans %}</th>
		    {% endif %}
		    {% if delchaldata["taxname"]=='IGST' %}
		      <th colspan="2" class="taxwrap text-center igstfield">{% trans %}IGST{% endtrans %}</th>
		    {% endif %}
		    <th colspan="2" class="taxwrap text-center">{% trans %}CESS{% endtrans %}</th>
		  </tr>
		  
		  <tr>
		    {% if delchaldata["taxname"]=='SGST' %}
		      <th class="sgstfield text-center">{% trans %}Rate{% endtrans %} %</th>
		      <th class="sgstfield text-center">{% trans %}Amount{% endtrans %}</th>
		      <th class="sgstfield text-center">{% trans %}Rate{% endtrans %} %</th>
		      <th class="sgstfield text-center">{% trans %}Amount{% endtrans %}</th>
		    {% endif %}
		    {% if delchaldata["taxname"]=='IGST' %}
		      <th class="igstfield text-center">{% trans %}Rate{% endtrans %} %</th>
		      <th class="igstfield text-center">{% trans %}Amount{% endtrans %}</th>
		    {% endif %}
		    <th class="text-center">{% trans %}Rate{% endtrans %} %</th>
		    <th class="text-center">{% trans %}Amount{% endtrans %}</th>
		  </tr>
		</thead>
	      </table>
	    </div>
	    <div class="row">
	      <table id="invoice_product_table_gst" class="nopadding table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%; overflow-x:hidden;overflow-y:scroll;">
		<tbody>
		  {% for product in delchaldata["delchalContents"] %}
		    <tr>
		      <td class="mdwrap">
			{{ delchaldata["delchalContents"][product]["proddesc"] }}
		      </td>
		      <td class="smwrap text-center" style="vertical-align:middle;">
			{{ delchaldata["delchalContents"][product]["gscode"] }}
		      </td>
		      <td class="qtywrap text-right">
			  {{ delchaldata["delchalContents"][product]["qty"]}} {{ delchaldata["delchalContents"][product]["uom"]}}
		      </td>
		      <td class="qtywrap text-right">
			{{ delchaldata["delchalContents"][product]["freeqty"] }} {{ delchaldata["delchalContents"][product]["uom"] }}
			</div>
		      </td>
		      <td class="smwrap text-right">
			{{ delchaldata["delchalContents"][product]["priceperunit"]}}
		      </td>
		      <td class="smwrap text-right">
			{{ delchaldata["delchalContents"][product]["discount"] }}
		      </td>
		      <td class="smwrap text-right">
			{{ delchaldata["delchalContents"][product]["taxableamount"] }}
		      </td>
		      {% if delchaldata["delchalContents"][product]["taxname"]=='SGST' %}
			<td class="taxcell sgstfield text-right">
			  {{ delchaldata["delchalContents"][product]["taxrate"] }}
			</td>
			<td class="taxcell sgstfield text-right">
			  {{ delchaldata["delchalContents"][product]["taxamount"] }}
			</td>
			<td class="taxcell sgstfield text-right">
			  {{ delchaldata["delchalContents"][product]["taxrate"] }}
			</td>
			<td class="taxcell sgstfield text-right">
			  {{ delchaldata["delchalContents"][product]["taxamount"] }}
			</td>
		      {% endif %}
		      {% if delchaldata["delchalContents"][product]["taxname"]=='IGST' %}
			<td class="taxcell igstfield text-right">
			  {{ delchaldata["delchalContents"][product]["taxrate"] }}
			</td>
			<td class="taxcell igstfield text-right">
			  {{ delchaldata["delchalContents"][product]["taxamount"] }}
			</td>
		      {% endif %}
		      <td class="taxcell text-right">
			{{ delchaldata["delchalContents"][product]["cessrate"] }}
		      </td>
                      <td class="taxcell text-right">
			{{ delchaldata["delchalContents"][product]["cess"] }}
		      </td>
		    </tr>
		  {% endfor %}
                </tbody>
	      </table>
	    </div>
	    <div class="row">
	      <table id="invoice_product_table_gst_tfoot" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%;">
		<tfoot>
		  <tr>
		    <td colspan="5" class="text-right totalwrap" style="vertical-align:middle; font-size:75%">Total</td>
		    <td class="text-right smwrap">
		      {{ delchaldata["totaldiscount"] }}
		    </td>
		    <td class="text-right smwrap">
		      {{ delchaldata["totaltaxablevalue"] }}
		    </td>
		    {% if delchaldata["taxname"]=='SGST' %}
		      <td colspan="2" class="text-right sgstfield taxwrap">
			{{ delchaldata["totaltaxamt"] }}
		      </td>
		      <td colspan="2" class="text-right sgstfield taxwrap">
			{{ delchaldata["totaltaxamt"] }}
		      </td>
		    {% endif %}
		    {% if delchaldata["taxname"]=='IGST' %}
		      <td colspan="2" class="text-right igstfield taxwrap">
			{{ delchaldata["totaltaxamt"] }}
		      </td>
		    {% endif %}
		    <td colspan="2" class="text-right taxwrap">
		      {{ delchaldata["totalcessamt"] }}
		    </td>
		</tfoot>
	      </table>
	    </div>
	  </div>
	  <div class="col-sm-2 nopadding">
	    <table id="invoice_product_table_total" class="table table-condensed table-bordered fixed-table fixed-tablepurchase">
	      <thead>
		<tr>
		  <th style="line-height:380% !important; text-align:center;" class="col-xs-8">Total</th>
		</tr>
	      </thead>
	      <tbody>
		{% for product in delchaldata["delchalContents"] %}
		  <tr>
		    <td class="col-xs-8 text-right">
		      {{ delchaldata["delchalContents"][product]["totalAmount"] }}
		    </td>
		  </tr>
		{% endfor %}
	      </tbody>
	      <tfoot>
		<td class="col-xs-8 text-right">
		  {{delchaldata["delchaldata"]["delchaltotal"]}}
		</td>
	      </tfoot>
	    </table>
	  </div>
      {% endif %}
    </div>
    <!-- Product Table Close -->
    <div class ="row col-sm-12">
      <div class="col-sm-6" style="margin-top:0.5cm;">
	<div class="row col-sm-12">
	  <div class="form-group form-inline">
	    <label for="deliverychallan_noofpackages" class="col-sm-5">{% trans %}Number of Packages{% endtrans %} :</label>
	    <label id="deliverychallan_noofpackages" class="col-sm-5">{{delchaldata["delchaldata"]["noofpackages"]}}</label>
	  </div>
	</div>
	<div class="row col-sm-12">
	  <div class="form-inline form-group">
	    <label for="deliverychallan_edit_modeoftransport" class="col-sm-5" id="transmode">{% trans %}Mode of Transportation{% endtrans %} :</label>
	    <label id="deliverychallan_edit_modeoftransport" class="col-sm-5">{% if delchaldata["delchaldata"]["modeoftransport"] %}{{ delchaldata["delchaldata"]["modeoftransport"] }}{% else %}N/A{% endif %}</label>
	  </div>
	</div>
	<div class="row col-sm-12">
	  {% if delchaldata["delchaldata"]["vehicleno"] %}
	    <div class="form-inline form-group vehiclenodiv">
	      <label for="inv" class="col-sm-5">{% trans %}Vehicle No.{% endtrans %} :</label>
	      <label id="vehicleno" class="col-sm-5">{{delchaldata["delchaldata"]["vehicleno"]}}</label>
	    </div>
	  {% endif %}
	</div>
	{% if delchaldata["delchaldata"]["inoutflag"] == 15 %}
	  <div class="row col-sm-12">
	    <div class="form-group form-inline invoice_issuer">
	      <label class="col-sm-5" for="invoice_issuer_name">{% trans %}Issuer's Name{% endtrans %} :</label>
	      <label id="delchal_issuer_name" class="col-sm-5">{{ delchaldata["delchaldata"]["issuername"]}}</label>
	    </div>
	  </div>
	  <div class="row col-sm-12">
	    <div class="form-inline form-group invoice_issuer">
	      <label class="col-sm-5">{% trans %}Designation{% endtrans %} :</label>
	      <label id="delchal_issuer_designation" class="col-sm-5">{{ delchaldata["delchaldata"]["designation"]}}</label>
	    </div>
	  </div>
	{% endif %}
	<div class="row col-sm-12">
	  <div class="form-group form-inline">
	    <label for="supply_date" class="col-sm-5">{% trans %}Date of Supply{% endtrans %}:</label>
	    <label id="supply_date" class="col-sm-5">{% if delchaldata["dateofsupply"] %}{{ delchaldata["dateofsupply"] }}{% else %}N/A{% endif %}</label>
	  </div>
	</div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4" style="margin-top:0.7cm;">
	<div class="row hborderdiv">
	  <div class="form-group form-inline">
	    <div class="col-sm-6">
	      <label for="taxableamount" style="font-size:100% !important;">{% trans %}Taxable Value{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right">
	      <label id="taxableamount" style="font-size:100% !important; font-weight:normal !important">{{ delchaldata["totaltaxablevalue"] }}</label>
	    </div>
	  </div>
	</div>
	{% if delchaldata["delchaldata"]["taxflag"] == 7 %}
	  {% if delchaldata["taxname"]=='SGST' %}
	    <div class="gstfield">
	      <div class="row sgstfield hborderdiv">
		<div class="form-group sgstfield form-inline">
		  <div class="col-sm-6">
		    <label for="totalsgtax" style="font-size:100% !important;">{% trans %}Total SGST{% endtrans %} :</label>
		  </div>
		  <div class="col-sm-6 text-right">
		    <label id="totalsgtax" style="font-size:100% !important; font-weight:normal !important">{{ delchaldata["totaltaxamt"] }}</label>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="gstfield">
	      <div class="row sgstfield hborderdiv">
		<div class="form-group sgstfield form-inline">
		  <div class="col-sm-6">
		    <label for="totalcgtax" style="font-size:100% !important;">{% trans %}Total CGST{% endtrans %} :</label>
		  </div>
		  <div class="col-sm-6 text-right">
		    <label id="totalcgtax" style="font-size:100% !important; font-weight:normal !important">{{ delchaldata["totaltaxamt"] }}</label>
		  </div>
		</div>
	      </div>
	    </div>
	  {% endif %}
	  {% if delchaldata["taxname"]=='IGST' %}
	    <div class="gstfield ">
	      <div class="row igstfield hborderdiv">
		<div class="form-group igstfield form-inline">
		  <div class="col-sm-6">
		    <label for="totaligtax" style="font-size:100% !important;">{% trans %}Total IGST{% endtrans %} :</label>
		  </div>
		  <div class="col-sm-6 text-right">
		    <label id="totaligtax" style="font-size:100% !important; font-weight:normal !important">{{ delchaldata["totaltaxamt"] }}</label>
		  </div>
		</div>
	      </div>
	    </div>
	  {% endif %}
	  <div class="row hborderdiv gstfield">
	    <div class="form-group form-inline">
	      <div class="col-sm-6">
		<label for="totalinvcess" style="font-size:100% !important;">{% trans %}Total CESS{% endtrans %} :</label>
	      </div>
	      <div class="col-sm-6 text-right">
		<label id="totalinvcess" style="font-size:100% !important; font-weight:normal !important">{{ delchaldata["totalcessamt"] }}</label>
	      </div>
	    </div>
	  </div>
	  {% else %}
	  <div class="row vatfield hborderdiv">
	    <div class="form-group form-inline">
	      <div class="col-sm-6">
		<label for="totalinvtax" style="font-size:100% !important;">{% trans %}Total Tax{% endtrans %} :</label>
	      </div>
	      <div class="col-sm-6 text-right">
		<label id="totalinvtax" style="font-size:100% !important; font-weight:normal !important">{{ delchaldata["totaltaxamt"] }}</label>
	      </div>
	    </div>
	  </div>
	{% endif %}
	<div class="row hborderdiv">
	  <div class="form-group form-inline">
	    <div class="col-sm-6">
	      <label for="totalinvdiscount" style="font-size:100% !important;">{% trans %}Total Discount{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right">
	      <label id="totalinvdiscount" style="font-size:100% !important; font-weight:normal !important">{{ delchaldata["totaldiscount"] }}</label>
	    </div>
	  </div>
	</div>
	<div class="row hborderdiv" style="border-bottom-style:solid;">
	  <div class="form-group form-inline">
	    <div class="col-sm-6">
	      <label for="totalinvoicevalue" style="font-size:100% !important;">{% trans %}Grand Total{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right">
	      <label id="totalinvoicevalue" style="font-size:100% !important; font-weight:normal !important">{{delchaldata["delchaldata"]["delchaltotal"] }}</label>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </form>
  <input type="text" id="attachmentcount" value="{{ delchaldata["delchaldata"]["attachmentcount"] }}" hidden>
</div>

