<html>
  <head>
    <meta charset="utf-8">
    <title>GNUKhata</title>
    <style>
    @page {
      size: 21cm 29.7cm;
      margin: 10mm 3mm 15mm 10mm; /* change the margins as you want them to be. */
    }
    td {
      font-size: 75%;
      padding: 2px !important;
      margin:  0 !important;
    }
    body {
       background-image: none;
   }
    th {
      font-size: 85%;
      padding: 3px !important;
      margin:  0 !important;
    }
		table { page-break-inside:auto }
		tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display: table-header-group; }
    tfoot { display: table-footer-group; }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">

      <div class="col-xs-6">
        <h4>{{org["orgname"]}}</br>
          <small>
            {% if org["orgaddr"]!='' %}
            {{org["orgaddr"]}},
            {% endif %}
            {% if org["orgcity"]!='' %}
            </br>{{org["orgcity"]}} - {{org["orgpincode"]}},
            {% endif %}
            {% if org["orgstate"]!='' %}
          </br>{{org["orgstate"]}}.
            {% endif %}
            {% if org["orgtelno"]!='' %}
          </br>Contact No.: {{org["orgtelno"]}}
            {% endif %}
            {% if org["orgemail"]!='' %}
            <br>Email : {{org["orgemail"]}}
            {% endif %}
            {% if org["orgfax"] %}
            <br>Fax : {{org["orgfax"]}}
            {% endif %}
            {% if org["orgwebsite"]!='' %}
            <br>Website : {{org["orgwebsite"]}}
            {% endif %}
        <br></small></h4>
        <hr style="border-color:grey;margin-top:0px; margin-bottom:0px;">
          <h4>{{fromgodown["goname"]}}
          </br><small>{{fromgodown["goaddr"]}},
          </br>{{fromgodown["state"]}}
          {% if fromgodown["contactname"]!='' %}
          <br>Contact : {{fromgodown["contactname"]}} - {{fromgodown["gocontact"]}}
          {% endif %}
        </small></h4>
        <hr style="border-color:grey;margin-top:0px; margin-bottom:0px;">
          To,
        <h4>{{togodown["goname"]}}
        </br><small>{{togodown["goaddr"]}},
        </br>{{togodown["state"]}}
        {% if togodown["contactname"]!='' %}
        <br>Contact : {{togodown["contactname"]}} - {{togodown["gocontact"]}}
        {% endif %}
      </small></h4>
      </div>
      <div class="col-xs-offset-1 col-xs-5">
        <h2 class="text-right">Transfer Note</h2><br>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-5">
                  <strong>Transfernote No. </strong>
              </td>
              <td class="text-right">
                {{transfernoteno}}
              </td>
            </tr>
            <tr>
                <td class="col-xs-5">
                  <strong>Date</strong>
                </td>
                <td class="text-right">
                  {{transfernotedate}}
                </td>
            </tr>

	    <tr>
              <td class="col-xs-5">
                <strong> Expected Date of Reciept </strong>
              </td>
              <td class="text-right">
                {{duedate}}
              </td>
            </tr>
	    <tr>
              <td class="col-xs-5">
                <strong> Grace Period (in days)</strong>
              </td>
              <td class="text-right">
                {{grace}}
              </td>
            </tr>
            <tr>
              <td class="col-xs-5">
                <strong>No.of Packets</strong>
              </td>
              <td class="text-right">
                {{nopkt}}
              </td>
            </tr>
            <tr>
              <td class="col-xs-5">
                <strong> Mode of Transport</strong>
              </td>
              <td class="text-right">
                {{transportationmode}}
              </td>
            </tr>
	    <tr>
              <td class="col-xs-5">
                <strong>Date of Receipt</strong>
              </td>
              <td class="text-right">
                {{receiveddate}}
              </td>
            </tr>


          </tbody>
        </table>
      </div>
      </div>

      <div class="row">
	<div class="col-xs-12">
          <table class="table table-bordered table-condensed" style="margin-bottom:0px;">
            <thead class="bg-primary" style="border-bottom-style:double; border-top-style:double;">
              <tr>
                <th>
                  Description
                </th>
                <th class="text-right">
                  Qty
                </th>

              </tr>
            </thead>
            <tbody>
              {% for set in tableset %}
		<tr>
		  <td>
                    {{set["productdesc"]}}
		  </td>
		  <td class="text-right">
                    {{set["qty"]}} {{set["unitname"]}}
		  </td>
		</tr>
              {% endfor %}
            </tbody>
          </table>
          <hr style="border-color:grey;margin-top:0px; margin-bottom:0px;">
	</div>
      </div>


      <div class="row">
	<div class="col-xs-7">
          <label for="notes" class="hidden-print">Notes :</label>
          <textarea name="name" row='3' id="notes" class="form-control hidden-print" id="notes"></textarea>
          <p class="visible-print" id = "notespara">
          </p>
	</div>

      </div>
      <br>
      <div class="row">
        <div class="text-right col-xs-12">
          <strong>{{issuername}}</strong>
          {% if designation!='' %}
            <i>({{designation}})</i>
          {% endif %}
        </div>
      </div>
      <span style="margin:auto; display:table;">
    	<button type="button" class="btn btn-sm btn-danger hidden-print" id="tnback" accesskey="k">{% trans %}<i class="fa fa-arrow-left" aria-hidden="true"></i> Bac<u>k</u>{% endtrans %}</button>
    		<button type="button" class="btn btn-sm btn-info hidden-print" id="tnprint" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> Prin<u>t</u>{% endtrans %}</button>
    	</span>
    </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/printtransfernote.js')}}"></script>
  </body>
</html>
