<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% trans %}GNUKhata{% endtrans %}</title>
    <style>
    @page {
      size: 21cm 29.7cm;
      margin: 10mm 10mm 20mm 10mm; /* change the margins as you want them to be. */
    }
		table { page-break-inside:auto }
   	tr    { page-break-inside:avoid; page-break-after:auto }
    td {
      font-size: 71%;
    }

    th {
      font-size: 75%;
    }
    thead { display: table-header-group; }
    tfoot { display: table-footer-group; }
    </style>
	</head>
	<body>
    <input type="hidden" id="calculateto" name="calculateto" value="{{to}}"></input>
    <input type="hidden" id="projectcode" name="projectcode" value="{{projectcode}}"></input>
    <input type="hidden" id="projectname" name="projectname" value="{{projectname}}"></input>

    <div class="table-responsive printorgdetails">
      <table id="prjsttable" class=" shadow table table-striped table-condensed table-bordered">
        <thead class="bg-primary">
          <tr style="color:black; background-color:white;">
						<th colspan="5" style="text-align:center; font-size:80%">
							<i>{% trans %}Statement for{% endtrans %} : </i>{{projectname}}<br>
							<i>{% trans %}Period{% endtrans %} : </i>{{from}} {% trans %}to{% endtrans %} {{to}}
						</th>
					</tr>
          <tr>
            <th class="col-xs-1">{% trans %}Sr. No.{% endtrans %}</th>
            <th class="col-xs-7">{% trans %}Account{% endtrans %}</th>
            <th class="col-xs-2">{% trans %}Group{% endtrans %}</th>
            <th style="text-align:right" class="col-xs-1">{% trans %}Total Outgoing{% endtrans %}</th>
            <th style="text-align:right" class="col-xs-1">{% trans %}Total Incoming{% endtrans %}</th>
          </tr>
        </thead>
        <tbody style="background-color:white;">
          {% for record in records %}
          <tr  value="{{record['accountcode']}}">
            <td class="col-xs-1">
              {{record['srno']}}
            </td>
            {% if record['accountname']=="" %}
            <td class="col-xs-4">
            </td>
            {% else %}
            <td class="col-xs-7">
              {{record['accountname']}}
            </td>
            {% endif %}
            <td class="col-xs-2">
              {{record["groupname"]}}<br>
              {% if record.ttlRunDr %}
								&nbsp&nbsp<i>{% trans %}Running Total{% endtrans %} :</i><br>
							{% endif %}
            </td>
            <td class="col-xs-1" style="text-align:right">
              {{record["totalout"]}}<br><i><u>{{record["ttlRunDr"]}}</u></i>
            </td>
            <td class="col-xs-1" style="text-align:right">
              {{record["totalin"]}}<br><i><u>{{record["ttlRunCr"]}}</u></i>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
			<span style="margin:auto; display:table;">
			  <button class="btn btn-sm btn-danger hidden-print" type="button" id="printback" accesskey="k"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}Bac<u>k</u>{% endtrans %}</button>
				<button class="btn btn-sm btn-info hidden-print" type="button"	id="realprint" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}Prin<u>t</u>{% endtrans %}</button>
			</span>
		</div>
		<script type="text/javascript">
		 $(document).ready(function() {
		   $("#msspinmodal").modal("hide");
		   oninvoice = 0;
		   $("title").html("GNUKhata");
		   $("#printback").click(function(event) {
		     var date = $("#calculateto").val().split("-");
		     var newtodate = date[2]+"-"+date[1]+"-"+date[0];
		     $("#msspinmodal").modal("hide");
		     $.ajax(
		       {
		         type: "POST",
		         url: "/showprojectstatementreport",
		         global: false,
		         async: false,
		         datatype: "text/html",
		         data: {"calculateto":newtodate,"financialstart":sessionStorage.yyyymmddyear1,"projectcode":$("#projectcode").val(),"projectname":$("#projectname").val()},
		         beforeSend: function(xhr)
		         {
		           xhr.setRequestHeader('gktoken',sessionStorage.gktoken );
		         },
		       })
		      .done(function(resp)
		        {
		          $("#info").html(resp);
		        }
		      );
		   });
		   $("#realprint").click(function(event) {
		     window.print();
		   });
		 });
		</script>
	</body>
</html>
